#daumRoughmapContainer1663773930072 {
    width: 100%;
}

.section4-sec3-p {
    background: none;
    border: none;
    padding-left: 7px !important;
    padding-right: 7px !important;
    color: #FF99CC;
}

.section4-sec3-s {
    background: none;
    border: none;
    padding-left: 7px !important;
    padding-right: 7px !important;
    color: #55CCCC;
}

.map-icons {
    font-family: 'Nanum Gothic', sans-serif;
    padding: 0;
}